@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(../assets/fonts/Poppins-Regular.ttf);

@font-face {
  font-family: "Poppins";
  src: url(../assets/fonts/Poppins-Regular.ttf);
}

@layer base {
  html {
    font-family: "Poppins";
  }
}
